<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
  </head>
<body ng-app="NarrowDownModule">
   <div class="container" ng-controller="NarrowItDownController as narrowCtrl">
       <h1>Narrow Down Your Chinese Menu Choice</h1>

       <div class="form-group">
           <input type="text" placeholder="search term" class="form-control" ng-model="narrowCtrl.searchString">
       </div>
       <div class="form-group narrow-button">
           <button class="btn btn-primary" ng-click="narrowCtrl.onNarrowBtnClick()">Narrow It Down For Me!</button>
       </div>
       <div>
           <found-items found-items-list="narrowCtrl.found" ng-if="narrowCtrl.found.length>=1"
               on-remove="narrowCtrl.onRemoveBtnClick(index)">
           </found-items>
        </div>
        <div ng-if="narrowCtrl.nfMsg">{{narrowCtrl.nfMsg}}</div>
  </div>

</body>
</html>
